<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
</head>
<body>
    <form method="POST" action="/store" enctype="multipart/form-data">
        Genero:
        <input type="text" name="txtGenero" id="txtGenero">
        <br>
        Categoria:
        <input type="text" name="txtCategoria" id="txtCategoria">
        <br>
        Talle:
        <input type="text" name="txtTalle" id="txtTalle">
        <br>
        Precio:
        <input type="number" name="numPrecio" id="numPrecio">
        <br>
        Nombre producto:
        <input type="text" name="txtNombre" id="txtNombre">
        <br>
        <br>
        <input type="submit" value="Agregar">
    </form>

    <br>
    <a href="./index.html">Volver al panel administrador</a>
</body>
</html>